*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body ,html{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.white_box{
    height: 10%;
    width: 10%;
    background-color: tan;
    border: 3px;
    float: left;
}
.black_box{
    height: 10%;
    width: 10%;
    background-color: green;
    border: 3px;
    float: left;
}