*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1750px;
    height: 800px;
   background-color: black;
   
}
.white_box{
    height: 20px;
    width: 40px;
    background-color: white;
}
.black_box{
     height: 50px;
    width: 40px;
    background-color:black;
    /* float: right;
    margin: 5px; */
}