 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* body{
    background-color: black;
    font-size: 40px;
}
.container{
    display: grid;
    width: 800px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 2fr 2fr 1fr;
    gap: 10px;
    padding: 5px;
    background-color: rgb(86, 190, 176); */ 

/* }
.box{
    background-color: aqua;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aliceblue;
}
.sidebar{
 grid-row-start: 2;
 grid-row-end: 4;
 background-color: red;
}
.contain1{
    grid-column-start: 2;
    grid-column-end: 4;

}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: brown;
} */ 
    
h1{
    background-color: aqua;
    height: 150px;
    width: 300px;
    /* padding: 40px;
    margin: 50px; */
    display: inline;
    /* width: 800px;
    height: 500px;
    background-color: yellow;
    margin: 100px;
    padding:30px 25px 30px 25px;
    border-radius: 70px;
    border-width:10px;
    border-style: solid;
    border-color: green;
    text-align: center;
    margin-top: 10px;
    padding-left:15px ;
    border-top: 9px solid black; */
    
    
}
/* p{
    height: 150px;
    width: 1000px;
    text-align: justify;
    background-color: aqua;
    border: 10px solid;
    padding: 10px;
    margin: 10px;
    gap: 7px;
    padding-top:10px ;
} */
span{
    color: blueviolet;
    background-color: red;
    height: 200px;
    height: 150px;
    /* padding: 10px;
    margin: 20px; */
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
    /* /* margin-bottom: 50px; */
    padding-bottom: 50px; */
    display: block;
}