*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-size: 40px;
}
.container{
    display: grid;
    width: 800px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 5px;
    /* background-color: rgb(86, 190, 176); */

}
.box{
    background-color: aqua;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
 grid-row-start: 2;
 grid-row-end: 4;
}
.contain1{
    grid-column-start: 2;
    grid-column-end: 4;
}
