*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: bisque;
    
}
.container{
    height: 200px;
    width: 100px;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.first{
    background-color: aqua;
    border-radius: 2;
}
.second{
    background-color: red;
    border-radius: 2;
}
.third{
    background-color: greenyellow;
}
.fourth{
    background-color: blueviolet;
}