h1{
    background-color: blue;
}
#firstid{
    background-color: aqua;
}
h2{
    background-color: green !important;
    position: relative;
    top: 20px;
    left: 10px;
}
h3{
    background-color:bisque;
    position: relative;
    top: 20px;
    right: 10px;
}
/* margin: 0px;
padding: 0px;

main{
height: 80px;
width: 100%;
background-color:

ulf
padding-top: 30px;
margin-left: 10%;
1i
list-style: none;
display: inline;
font-size: 20px;
color: Drgb(4, 136, 81);
padding: 10px 20px;
background-color: @yellow;
border-radius: 5px;
transition: all;

rgb(6, 194, 194);

I 