*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    height: 700px;
    width: 1000px;
    background-color: pink;
    margin-left:300px ;
    margin: 15px;
    padding: 10px;
}
.header{
    height: 70px;
    /* width: 950px; */
    background-color: rgb(17, 237, 237);
    margin: 10px 10px 10px 10px;  
    
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
}
 .box{
    height: 500px;
    /* width: 170px; */
    
    margin: 8px;
      
}
.Aside{
    height: 500px;
    width: 250px;
    background-color: rgb(58, 198, 198);
    float:left;
}
h2{
    text-align: center;
    color: white;
    padding-top: 250px;
    font-size: 20px;

}
.Article{
 height:500px;
 width: 680px;
 background-color:palevioletred;
 float:right;
 margin-right: 7px;
 
 /* padding: 100px; */
 padding-top: 80px;
}
.image1{
    height: 150px;
    width: 160px;
    background-color: beige;
    margin: 10px;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    padding-top: 50px;

}
button{
  height: 70px;
    width: 950px;
    background-color: rgb(17, 237, 237);
    margin: 10px; 
    border: none;
    color: white; 
    font-size: 20px; 
}
p{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 200px;
    
}