*{
    padding: 0px;
    margin: 0px;
}
/* body{
    height: 100vh;
    width: 100vw;
} */
.top_bar{
    height: 40px;
    width: 1920px;
    background-color: #102451;
    gap: 2px;
}
.icon{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3px;
    
}